# IntelliJ / Android Studio / Rider
.idea/
.gradle/
**/build/
**/out/
**/bin/
**/obj/
local.properties

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Node / Web
node_modules/
dist/
.next/
.nuxt/
coverage/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Maven
target/

# Sistema
.DS_Store
Thumbs.db

